@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,300&display=swap');

:root {
    --cor-fundo-principal: #191919;
    --cor-fundo-secundaria: #000000;
    --cor-fundo-sec-transp: #000000dc;
    --cor-texto-principal: #ffffff;
    --cor-texto-secundaria: #ff1d1d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background-color: var(--cor-fundo-principal);
}
#nav {
    background-color: var(--cor-fundo-sec-transp);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px;
    position: fixed;
    width: 100%;
}
#menu a {
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--cor-texto-principal);
    text-decoration: none;
}
a:hover {
    background-color: var(--cor-texto-secundaria);
    transition: 0.5s;
    text-shadow: 2px 2px 1px var(--cor-fundo-principal);
}
#btn-mobile{
    display: none;
}

@media (max-width: 550px) {
    #btn-mobile{
        display: block;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        border: 0px;
        background-color: var(--cor-fundo-secundaria);
    }
    #menu a{
        display: none;
        border: 2px solid var(--cor-fundo-sec-transp);
    }
    #menu{
        position: absolute;
        width: auto;
        background-color: var(--cor-fundo-sec-transp);
        border-radius: 10px;
        right: 0px;
        z-index: 999;
    }

    #nav.active #menu a{
        display: block;
    }
}

.portfolio {
    color: var(--cor-texto-principal);
    font-size: 35px;
}
.portfolio span {
    color: var(--cor-texto-secundaria);
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.title {
    color: white;
}
.title h1 {
    font-size: 60px;
}
.title span {
    color: var(--cor-texto-secundaria);
}
@media(max-width: 500px) {
    .title h1 {
        font-size: 45px;
    }
}
@media(max-width: 1000px) {
    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
    }
    .header img {
        display: block;
        margin: auto;
        max-width: 400px;
    }
    .header div {
        display: block;
        max-width: 500px;
        margin: auto;
        padding-top: 100px;
    }
}
@media(max-height: 600px) {
    .header img {
        max-width: 300px;
    }
}

/* Seção sobre mim */
.sobre {
    padding: 7% 0;
    background-color: var(--cor-fundo-secundaria);
}

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-secundaria);
    padding: 30px 0;
}
.sobre-mim img {
    width: 300px;
    border-radius: 30px;
}
.sobre-mim div {
    text-align: justify;
    margin: 40px;
    color: var(--cor-texto-principal);
    width: 600px;
}
.sobre-mim * {
    margin: 10px 0;
}
.sobre-mim h2 {
    font-size: 50px;
}

@media(max-width: 900px) {
    .sobre-mim {
        display: block;
    }
    .sobre-mim img {
        display: block;
        margin: auto;
    }
    .sobre-mim div {
        display: block;
        text-align: justify;
        width: auto;
        padding: 0 10%;
    }
    .sobre-mim button {
        display: block;
        margin: auto;
    }
    .sobre-mim a {
        text-decoration: none;
    }
}

button {
    color: var(--cor-texto-principal);
    text-shadow: 0px 0px 5px var(--cor-fundo-secundaria);
    background-color: var(--cor-texto-secundaria);
    padding: 8px;
    border-radius: 10px;
}
button:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 15px 3px var(--cor-texto-secundaria);
}

.projetos {
    padding: 10% 0;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
}
.projetos h2 {
    text-align: center;
    padding: 35px;
    font-size: 50px;
}
.projetos img {
    width: 100px;
}

.proj {
    margin: 0px 10px;
    background-color: var(--cor-fundo-secundaria);
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}
.proj h5 {
    font-size: 20px;
    padding-bottom: 10px;
}
.proj button {
    margin-top: 10px;
}

.cards-projetos {
    display: flex;
    justify-content: center;
}
@media(max-width: 900px) {
    .proj {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        background-color: var(--cor-fundo-secundaria);
        width: 250px;
        border-radius: 20px;
        padding: 15px;
        text-align: center;
    }
    .proj h5 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .proj button {
        margin-top: 10px;
    }
    
    .cards-projetos {
        display: inline;
    }
}

footer {
    text-align: center;
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-texto-principal);
    padding: 80px 0;
}
footer p {
    padding: 15px 0;
}
footer img {
    width: 50px;
    margin: 0 5px;
}
footer a:hover {
    background-color: var(--cor-fundo-secundaria);
}
